# Python
backend/venv/
backend/__pycache__/
backend/*.pyc

# Database
backend/employees.db

# Environment
backend/.env
frontend/.env

# React
frontend/node_modules/
frontend/dist/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db